section {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-gray);
}

main {
    width: 80%;
}

section {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

/* INTRO SECTION */
.section-intro {
    flex-direction: row;
    background-color: var(--primary-black-md);
    padding-inline: 10%;
    justify-content: space-between;
}

.section-intro h1 {
    font-size: 6rem;
    color: var(--secondary-green);
}

.section-intro div {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-intro img {
    width: 30%;
}


/* CURIOSITY SECTION */
.section-curiosity {
    background-color: var(--primary-black);
}

.section-curiosity h2 {
    font-size: 6rem;
    color: var(--secondary-yellow);
    margin-block: 3rem;
}

.section-curiosity ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
    text-align: left;
}

.section-curiosity li:hover {
    color: var(--secondary-red);
    scale: 1.02;
    transition: 0.3s;
}

/* ATTACK SECTION */
.section-attacks {
    background-color: var(--primary-black-md);
}

.section-attacks h2 {
    font-size: 6rem;
    color: var(--secondary-blue);
    margin-block: 3rem;
}

.section-attacks table * {
    background-color: var(--primary-black);
    border: 1rem solid var(--primary-black-md);
    padding: 10px;
}

.section-attacks table *:hover {
    background-color: var(--primary-black-md);
}


@media(max-width:768px) {
    section {
        height: min-content;
        padding-bottom: 6rem;
        width: 100%;
        text-align: left;
        font-size: 2.4rem;
    }

    /* INTRO SECTION */
    .section-intro {
        flex-direction: column;
        align-items: center;
    }

    .section-intro div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .section-intro h1 {
        font-size: 4rem;
    }

    .section-intro img {
        width: 30rem;
    }

    .section-intro p {
        font-size: 2rem;
        text-align: left;
    }

    /* CURIOSITY SECTION */
    

    .section-curiosity h2 {
        font-size: 4rem;
    }

    .section-curiosity ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .section-curiosity li {
        font-size: 2rem;
        text-align: left;
        margin-inline: 2rem;
    }

    /* ATTACK SECTION */
    .section-attacks {
        padding-bottom: 6rem;
        height: auto;
    }

    .section-attacks h2 {
        font-size: 4rem;
        color: var(--secondary-blue);
        margin-block: 3rem;
    }
    
    .section-attacks table * {
        background-color: var(--primary-black);
        border: 0.5rem solid var(--primary-black-md);
        font-size: 1.5rem;
    }

    
}



@media(max-width:320px) {

    /* INTRO SECTION */
    .section-intro {
        flex-direction: column;
        align-items: center;
    }

    .section-intro div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .section-intro h1 {
        font-size: 3rem;
    }

    .section-intro img {
        width: 20rem;
    }

    .section-intro p {
        font-size: 1.5rem;
        text-align: left;
    }

    /* CURIOSITY SECTION */
    

    .section-curiosity h2 {
        font-size: 3rem;
    }

    .section-curiosity li {
        font-size: 2rem;
        text-align: left;
        margin-inline: 2rem;
    }

    /* ATTACK SECTION */
    .section-attacks {
        padding-bottom: 6rem;
        height: auto;
    }

    .section-attacks h2 {
        font-size: 3rem;
        color: var(--secondary-blue);
        margin-block: 3rem;
    }
    
    .section-attacks table * {
        background-color: var(--primary-black);
        border: 0.5rem solid var(--primary-black-md);
        font-size: 1.5rem;
    }



}