body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-gray);
}

main {
    width: 80%;
}

main h1{
    color: var(--secondary-green);
    font-family: "JetBrains Mono", monospace;
    font-size: 6rem;
    text-align: center;
    padding-top: 17.7rem;
}

main p{
    color: var(--primary-gray);
    font-family: "JetBrains Mono", monospace;
    font-size: 2.4rem;
    padding: 40px 90px;
    text-align: justify;
    max-width: 98.8rem;
    margin: 0 auto;
}

.section-header {
    background-color: var(--primary-black-md);
    text-align:justify
    
}

.section-info{
    background-color: var(--primary-black);
}

.section-info h2 {
    color: var(--secondary-yellow);
    font-family: "JetBrains Mono", monospace;
    font-size: 3rem;
    text-align: center;
    padding-top: 5.7rem;
}

.section-info iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* height: 300px; */
    padding-bottom: 40px;
}

.section-features {
    background-color: var(--primary-black-md);
}

.section-features h2 {
    color: var(--secondary-red);
    font-family: "JetBrains Mono", monospace;
    font-size: 3rem;
    text-align: center;
    padding-top: 8.5rem;
}

.section-devs{
    padding-top: 40px;
    background-color: var(--primary-black-md);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-devs h2 {
    color: var(--secondary-blue);
    font-family: "JetBrains Mono", monospace;
    font-size: 3rem;
    text-align: center;
    padding-top: 8.5rem;
}

.devs{
    display: flex;
    font-size: 2.4rem;
    font-family: "JetBrains Mono", monospace;
    color: var(--primary-gray);
    padding: 10%;
    justify-content: space-around;
    width: 100%;
}

.devs div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.devs p {
    padding: 0;
}

.github {
    color: var(--secondary-blue);
}

.github:hover {
    text-decoration: underline;
}




@media(max-width: 1921px) {
    
    main h1{
        font-size: 9.6rem;
    }

    .section-info h2 {
        font-size: 6.2rem;
    }

    .section-features h2 {
        font-size: 6.2rem;
    }

    .section-devs h2 {
        font-size: 6.2rem;
    }

    main p{
        font-size: 2.5rem;
        padding: 40px 90px;    
    }

     .section-info iframe{
        height: 600px;
    } 

    @media(max-width: 768px) {
    
        main h1{
            font-size: 6rem;
        }
    
        main p{
            font-size: 2.4rem;
            padding: 10%;
        }

        .section-info h2 {
            font-size: 4rem;
        }
    
        .section-features h2 {
            font-size: 4rem;
        }
    
        .section-devs h2 {
            font-size: 4rem;
        }
        
    }

    @media(max-width: 321px) {
    
        main h1{
            font-size: 4rem;
        }
    
        main p{
            font-size: 1.8rem;
            padding: 10%;
        }

        .section-info h2 {
            font-size: 3rem;
        }
    
        .section-features h2 {
            font-size: 3rem;
        }
    
        .section-devs h2 {
            font-size: 3rem;
        }
        
        .section-info iframe{
            height: 250px;
        } 
        
        .section-devs a {
            font-size: 2rem;
            gap: 10px;
            align-items: center;
        }
    }
    
    
}