

.conteiner-hero {
    max-width: 160rem;
    height: 92.8rem;
    position: absolute;
    top: 15.2rem;
    left: 0;
    right: 0;
    background: url(/assets/img-hero.png) no-repeat left bottom scroll;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-hero-color {
    height: 92.8rem;
    top: 15.2rem;
 
}

section {
    height: 92.8rem;
    width: 100%;
    text-align: center;
}

.historia {
    background-color: var(--primary-black-md);
}

h2 {
    font-size: 6.2rem;
    font-weight: 500;
}

p, form   {
    text-align: justify;
    font-size: 2.4rem;
    width: 65%;
    margin: 0 auto;
    line-height: 2.9rem;
    color: var(--primary-gray);
}

p > strong {
    font-weight: 500;
}

.historia, .personagens {
    height: 76.8rem;
}

.historia > h2 {
    color: var(--secondary-green);
    padding-top: 5.45rem;
    padding-bottom: 4.9rem;
}

.historia > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 12.6rem;
    padding-top: 4.9rem;
}

.personagens > h2 {
    padding-top: 5.7rem;
    padding-bottom: 11.2rem;
    color: var(--secondary-yellow);
}

.personagens > div > a > div{
    width: 30rem;
    height: 40rem;
    margin: 2rem;
    border-radius: 2rem;
    border: .4rem solid black;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.258);
    transition: all .2s ease-in;
}

.personagens > div > a > div:hover {
    box-shadow: 0px 0px 90px #000000;
    z-index: 2;
    transform: scale(1.1);
}

.personagens > div > a:nth-child(1) > div {
    background: url(/assets/javoso.png) no-repeat center center;
    background-size: cover;
}

.personagens > div > a:nth-child(2) > div {
    background: url(/assets/reactero.png) no-repeat center center;
    background-size: cover;
}

.personagens > div > a:nth-child(3) > div {
    background: url(/assets/portugolino.png) no-repeat center center;
    background-size: cover;
}

.personagens > div > a > div:hover {
    --glow-blur: 1.5;
}

.making-off {
    height: 77.1rem;
}

.making-off {
    background-color: var(--primary-black-md);
}

.making-off > h2 {
    padding-top: 5.1rem;
    color: var(--secondary-blue);
}

.making-off > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.4rem;
    margin-bottom: 4.3rem;
}

.making-off > a {
    margin-top: 10rem;
}

.making-off > div:last-child {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 22rem;
}

.making-off > div > a > button {
    background-color: #D9D9D9;
    padding: 1.5rem 4.4rem;
    border-radius: 2.0rem;
    font-size: 2.4rem;
    transition: opacity .3s ease;
}

.making-off > div > a > button:hover {
    opacity: .8;
}

.form-beta {
    height: 81.0rem;
}


.form-beta > h2 {
    color: var(--secondary-red);
    margin-top: 5.1rem;
}

.form-beta > p {
    text-align: center;
    margin-bottom: 4.4rem;
}

.form-beta > form > input, .form-beta > form > div > div > input {
    margin-top: 1rem;
    width: 100%;
    padding: 1.2rem;
    border-radius: 1rem;
    font-size: 2rem;
}

.form-beta > form > div {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 3.3rem;
}

.form-beta > form > div > div {
    width: 100%;
}

.form-beta > form > div > div > input {
    display: inline-block;
}

.form-beta > form > div > div > div {
    margin-top: 1rem;
}

.form-beta > form > div > div > div > input{
    border: 0px;
    width: 25px;
    height: 30px;
    vertical-align: middle;
    margin-left: 2rem;
} 

.form-beta > form > textarea {
    padding: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
    border-radius: .5rem;
    width: 100%;
    resize: none;
}

.form-beta > form > textarea::placeholder {
    font-size: 1.8rem;
}

.form-beta > form > div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-beta > form > div > input[type=submit] {
    font-size: 4rem;
    background-color: var(--secondary-green);
    border-radius: 1.5rem;
    padding: .4rem 6rem;
    transition: opacity .3s ease;
}

.form-beta > form > div > input[type=submit]:hover {
    cursor: pointer;
    opacity: .8;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

footer > .conteiner {
    background-color: var(--primary-gray);
    height: 3.6rem;
    display: flex;
    align-items: center;
}

footer > .conteiner > p {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}
