:root {
    --deep-black: #131313;
    --primary-black: #18191B;
    --primary-black-md: #1E1F22;
    --primary-gray: #BBBDAF;
    --secondary-yellow: #C29E4A;
    --secondary-green: #5CA662;
    --secondary-red: #C63927;
    --secondary-blue: #219185;
}

.gameDiv {
    object-fit: contain;
}

.gameScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    max-height: 90vh;
}

.mainDisplay {
    padding: 2rem; /* talvez tenha que remover */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-black);
    border: 1px solid var(--primary-gray);
    height: 60vh;
}

.mainDisplay img {
    object-fit: contain;
    height: 100%;
}

.displayGroup {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 20vh;
    gap: 4vw;
    background-color: var(--primary-black);
    border-left: 1px solid var(--primary-gray);
    border-right: 1px solid var(--primary-gray);
    border-bottom: 1px solid var(--primary-gray);
}

.buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-black);
    width: 100%;
}

.gameButton {
    margin: auto;
    width: 15rem;
    height: 5rem;
    background-color: none;
    border: 1px solid var(--primary-gray);
    font-size: medium;
    transition: 0.3s;
}

.gameButton:hover {
    background-color: var(--primary-gray);
    color: var(--deep-black);
}

.gameLog {
    width: 100%;
}



.game_btn1 {
    color: var(--secondary-blue);
}


.game_btn2 {
    color: var(--secondary-green);
}


.game_btn3 {
    color: var(--secondary-yellow);
}


.game_btn4 {
    color: var(--secondary-red);
}

#classificationDiv  {
    width: 800px;
    height: 80%;
    color: white;
    font-size: 4rem;
    overflow-y: scroll;
    max-height: 800px;
}

#classificationDiv > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem;
    border-bottom: 1px solid gray;
}

#classificationDiv > div:first-of-type {
    border: 1px solid gray;
    padding: 1rem 3rem;
}
.nameUserDiv {
    width: 100%;
    margin: auto;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.nameUserDiv > input {
    width: 50vw;
    max-width: 40rem;
    height: 5rem;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 2rem;
}

.input-error {
    box-shadow: 0 0 10px red;
}

.nameUserDiv > button {
    width: 100%;
    max-width: 22rem;
    height: 5rem;
    background-color: none;
    border: 1px solid var(--primary-gray);
    font-size: medium;
    transition: 0.3s;
}

.nameUserDiv > button:hover {
    background-color: var(--primary-gray);
    color: var(--deep-black);
}

.mensagemEndereco > p { 
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-yellow);
    max-width: 80%;
    margin: auto;
    margin-top: 30px;

}


@media (max-width:768px) {
    .displayGroup {
        flex-direction: column;
        gap: 2rem;
        padding-block: 2rem;
        border-bottom: 1px solid var(--primary-gray);
    }

    .buttonGroup {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .gameButton {
        height: auto;
        width: 100%;
    }

    .mainDisplay {
        height: 70vw;
    }

    .gameLog {
        border-left: 1px solid var(--primary-gray);
        border-right: 1px solid var(--primary-gray);
        border-bottom: 1px solid var(--primary-gray);
    }

    .gameScreen {
        justify-content: flex-start;
        padding-top: 2rem;
        height: fit-content;
    }

    .buttonGroup.flex {
        flex-direction: column;
    }

    #classificationDiv {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    #classificationDiv > div {
        margin: 0;
        padding: 0;
    }

    .mensagemEndereco > p { 
        font-size: 2rem; 
    }
}


.logo_dbc {
    width: 30%;
    animation: growRotate 2s normal;
    background-image: url("assets/logo_dbc.webp");    
    
}

@keyframes growRotate {
    0% {
      transform: scale(0) rotate(0deg);
      opacity: 0;
    }
    80% {
      transform: scale(1) rotate(720deg);
      opacity: 1;
    }
    100% {
      transform: rotate(720deg);
      opacity: 1;
    }
  }

  /* Game Utility Classes */

  .gameDiv {
    width: 100%;
    height: 100%;
  }

  .center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }

  .space-around {
    justify-content: space-around;
  }


  .hidden {
    display: none;
  }

  .characterImg {
    width: 30%;
  }


