:root {
    --deep-black: #131313;
    --primary-black: #18191B;
    --primary-black-md: #1E1F22;
    --primary-gray: #BBBDAF;
    --secondary-yellow: #C29E4A;
    --secondary-green: #5CA662;
    --secondary-red: #C63927;
    --secondary-blue: #219185;
}

/* * {
    border: 1px solid red;
} */

/* section {
    height: 90vh;
} */

.gameScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    max-height: 90vh;
    /* padding: 4vw; */
}

.mainDisplay {
    padding: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-black);
    border: 1px solid var(--primary-gray);
}

.displayGroup {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 4vw;
    background-color: var(--primary-black);
    border-left: 1px solid var(--primary-gray);
    border-right: 1px solid var(--primary-gray);
    border-bottom: 1px solid var(--primary-gray);
}

.buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-black);
    width: 100%;
}

.gameButton {
    margin: auto;
    width: 15rem;
    height: 5rem;
    background-color: none;
    border: 1px solid var(--primary-gray);
    font-size: medium;
    transition: 0.3s;
}

.gameButton:hover {
    background-color: var(--primary-gray);
    color: var(--deep-black);
}

.gameLog {
    width: 100%;
}



.game_btn1 {
    color: var(--secondary-blue);
}


.game_btn2 {
    color: var(--secondary-green);
}


.game_btn3 {
    color: var(--secondary-yellow);
}


.game_btn4 {
    color: var(--secondary-red);
}

@media (max-width:768px) {
    .displayGroup {
        flex-direction: column;
        gap: 2rem;
        padding-block: 2rem;
    }

    .buttonGroup {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .gameButton {
        height: auto;
        width: 100%;
    }
}