:root {
    --deep-black: #131313;
    --primary-black: #18191B;
    --primary-black-md: #1E1F22;
    --primary-gray: #BBBDAF;
    --secondary-yellow: #C29E4A;
    --secondary-green: #5CA662;
    --secondary-red: #C63927;
    --secondary-blue: #219185;
}
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "JetBrains Mono","Inter", "Open Sans", sans-serif;
}

body {
    background-color: var(--deep-black);
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background-color: transparent;
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

/* .conteiner {
    width: 100%;
    max-width: calc(128.0rem + 3rem);
    margin: 0 auto;
    
    background-color: var(--primary-black);
} */

header {
    background-color: var(--primary-black);
    height: 10vh;
    border-bottom: .1rem solid var(--primary-black-md);
    width: 100%;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
    padding-block: 1rem;
}

header > div > a > img {
    max-height: 8vh;
    width: auto;
}

header > div > nav > ul {
    position: relative;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > li  {
    font-family: "JetBrains Mono", monospace;
    font-size: 2.0rem;
    transition: opacity .3s ease;
}

header > div > nav >  ul > li > a:hover {
    opacity: .8;
}

header > div > nav > ul > li  {
    font-family: "JetBrains Mono", monospace;
    font-size: 2.0rem;
    transition: opacity .3s ease;
}

header > div > nav > ul > li > a:hover {
    opacity: .8;
}

header > div > nav >  ul > li:nth-child(1) > a {
    color: var(--secondary-green);
}

header > div > nav > ul > li:nth-child(1) > a:visited {
    color: var(--secondary-green);
}

header > div > nav > ul > li:nth-child(2) > a {
    color: var(--secondary-yellow);
}

header > div > nav > ul > li:nth-child(2) > a:visited {
    color: var(--secondary-yellow);
}

header > div > nav > ul > li:last-of-type > a {
    color: var(--secondary-red);
}

header > div > nav > ul > li:last-of-type > a:visited {
    color: var(--secondary-red);
}

header > div > nav > ul > li:nth-child(3)  {
    color: var(--primary-gray);
    cursor: pointer;
}

header > div > nav > ul > li:nth-child(3) > ul {
    background-color: var(--primary-black);
    color: var(--primary-gray);
    display: none;
    position: absolute;
    z-index: 7;
    padding: 0;
}

header > div > nav > ul > li > ul > a {
    display: block;
}

header > div > nav > ul > li:nth-child(3):hover > ul {
    display: block;

}

header > div > nav > ul > li:nth-child(3) > ul > li {
    padding: 1rem 2.5rem;
    color: var(--primary-gray);
    transition: all .2s ease;
}

header > div > nav > ul > li:nth-child(3) > ul > li > a:visited {
    color: var(--primary-gray);

}

header > div > nav > ul > li:nth-child(3) > ul > li:hover {
    background-color: var(--primary-gray);
    opacity: .8;
}

header > div > nav > ul > li:nth-child(3) > ul > li:hover > a {
    color: var(--primary-black);
}

footer {
    background-color: var(--primary-gray);
    height: 3.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: black;
    font-size: 2rem;
    margin: 0;
    width: 100%;
}

.nav-mobile {
    display: none;
}

.btn-mobile {
    margin-right: 4rem;
}

.btn-mobile > span {
    width: 5rem;
    height: 5rem;
}

.offcanvas, .dropdown-menu, .dropdown-menu > li > a {
    background-color: var(--primary-black-md);
    color: var(--primary-gray);
    width: 80%;
    font-size: 2rem;
}

@media(max-width: 767px) {

    header > div > nav > ul {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }
}