main {
    margin-inline: auto ;
    width: 80%;

}

body {
    background-color: var(--deep-black);
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: var(--primary-black);
}

section {
    height: 100vh;
    text-align: center;
}

.historia {
    background-color: var(--primary-black-md);
}

h2 {
    font-size: 6.2rem;
    font-weight: 500;
}

p, form   {
    text-align: justify;
    font-size: 2.4rem;
    width: 65%;
    margin: 0 auto;
    line-height: 2.9rem;
    color: var(--primary-gray);
}

p > strong {
    font-weight: 500;
}

.historia, .personagens {
    height: 76.8rem;
}

.historia > h2 {
    color: var(--secondary-green);
    padding-top: 5.45rem;
    padding-bottom: 4.9rem;
}

.historia > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 12.6rem;
    padding-top: 4.9rem;
}

.personagens > h2 {
    padding-top: 4rem;
    padding-bottom: 11.2rem;
    color: var(--secondary-yellow);
}

.personagens > div > a > div {
    width: 100%;
    display: flex;
    height: 100%;
    perspective: 1000px;
    position: relative;
    background-color: transparent;
    margin: 0 auto;
    transition: transform 1s;
}

.lines {
    height: 42.6rem;
    width: 100%;
    max-width: 30rem;
    position: absolute;
    background-color: transparent;
    overflow: hidden;
}

.personagens > div > a > div:hover > div{
    transform: rotateY(-180deg);
    box-shadow: 0 0 90px black;
}

.personagens > div > a > div:hover  {
    transform: scale(1.1); 
}

.personagens > div > a > div, .back-card {
    transform: rotateY(-180deg);
}

.personagens > div > a > div > div {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    height: 42.6rem;
    width: 30rem;
    margin: 2rem;
}

.front-card > img, .back-card > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--primary-black-md);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.249);
}

.front-card, .back-card {
    width: 100%;
    height: 42rem;
    position: absolute;
    backface-visibility: hidden;
    z-index: -1;
}

.personagens > div > a:first-of-type > div > div > div:first-of-type > span:first-of-type {
    background: linear-gradient(to right, transparent, var(--secondary-red));
}
.personagens > div > a:first-of-type > div > div > div:first-of-type > span:nth-of-type(2) {
    background: linear-gradient(to right, transparent, var(--secondary-red));
}
.personagens > div > a:first-of-type > div > div > div:first-of-type > span:nth-of-type(3) {
    background: linear-gradient(to right, transparent, var(--secondary-red));
}
.personagens > div > a:first-of-type > div > div > div:first-of-type > span:last-of-type {
    background: linear-gradient(to right, transparent, var(--secondary-red));
}


.personagens > div > a:nth-of-type(2) > div > div > div:first-of-type > span:first-of-type {
    background: linear-gradient(to right, transparent, var(--secondary-blue));
}
.personagens > div > a:nth-of-type(2) > div > div > div:first-of-type > span:nth-of-type(2) {
    background: linear-gradient(to right, transparent, var(--secondary-blue));
}
.personagens > div > a:nth-of-type(2) > div > div > div:first-of-type > span:nth-of-type(3) {
    background: linear-gradient(to right, transparent, var(--secondary-blue));
}
.personagens > div > a:nth-of-type(2) > div > div > div:first-of-type > span:last-of-type {
    background: linear-gradient(to right, transparent, var(--secondary-blue));
}

.personagens > div > a:nth-of-type(3) > div > div > div:first-of-type > span:first-of-type {
    background: linear-gradient(to right, transparent, var(--secondary-yellow));
}
.personagens > div > a:nth-of-type(3) > div > div > div:first-of-type > span:nth-of-type(2) {
    background: linear-gradient(to right, transparent, var(--secondary-yellow));
}
.personagens > div > a:nth-of-type(3) > div > div > div:first-of-type > span:nth-of-type(3) {
    background: linear-gradient(to right, transparent, var(--secondary-yellow));
}
.personagens > div > a:nth-of-type(3) > div > div > div:first-of-type > span:last-of-type {
    background: linear-gradient(to right, transparent, var(--secondary-yellow));
}

.personagens > div > a > div > div > div:first-of-type > span:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .3rem;
    animation: animar1 2s linear infinite;
}

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.personagens > div > a > div > div > div:first-of-type > span:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: .3rem;
    height: 100%;
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
    background-color: blue;
}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.personagens > div > a > div > div > div:first-of-type > span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: .3rem;
    animation: animar3 2s linear infinite;
}

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.personagens > div > a > div > div > div:first-of-type > span:last-of-type{
    position: absolute;
    bottom: 0;
    left: 0;
    width: .3rem;
    height: 100%;
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}


@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
} */

.making-off {
    height: 77.1rem;
}

.making-off {
    background-color: var(--primary-black-md);
}

.making-off > h2 {
    padding-top: 5.1rem;
    color: var(--secondary-blue);
}

.making-off > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.4rem;
    margin-bottom: 4.3rem;
}

.making-off > a {
    margin-top: 10rem;
}

.making-off > div:last-child {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 22rem;
}

.making-off > div > a > button {
    background-color: #D9D9D9;
    padding: 1.5rem 4.4rem;
    border-radius: 2.0rem;
    font-size: 2.4rem;
    transition: opacity .3s ease;
}

.making-off > div > a > button:hover {
    opacity: .8;
}

.play-now {
    height: 40rem;
    
}

.play-now > h2 {
    color: var(--secondary-yellow);
    padding-top: 51px;
    padding-bottom: 51px;
}

.play-now > div {
    background-color: #D9D9D9;
    padding: 1.5rem 4.4rem;
    border-radius: 2.0rem;
    font-size: 2.4rem;
    transition: opacity .3s ease;
    max-width: 60%;
    display: block;
    margin: auto;
}

.play-now > p {
    padding-bottom: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

footer > .conteiner {
    background-color: var(--primary-gray);
    height: 3.6rem;
    display: flex;
    align-items: center;
}

footer > .conteiner > p {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}


@media(max-width: 1375px) {

    .bg-hero-color {
        display: none;
    }

    .historia {
        height: 86rem;
    }

    .historia > div {
        margin: 0 10vw;
        margin-top: 0;
    }

    .personagens {
        height: 80rem;
    }

    .making-off {
        height: 80rem;
    }

    .play-now {
        height: 40rem;
    }
}

@media(max-width: 1281px) {
    .personagens {
        height: 120rem;
    }

    .making-off > div:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 400px;
        margin: 0 auto;
        padding: 5rem 0;
    }

    .making-off {
        height: 105rem;
    }

    .making-off > div:nth-child(4) {
        padding: 0;
        justify-content: center;
    }


}

@media(max-width: 854px) {

    .historia {
        height: 98rem;
    }

    .historia > div {
        margin: 0 10vw;
        margin-top: 0;
    }

    .personagens {
        height: 165rem;
    }

    .making-off {
        height: 110rem;
    }

    .play-now {
        height: 50rem;
    }


}

@media(max-width: 628px) {

    .bg-hero-color {
        display: none;
    }

    h2 {
        font-size: 4.8rem;
    }

    p {
        font-size: 1.8rem;
    }

    .historia {
        height: 98rem;
    }

    .historia > div {
        margin: 0 10vw;
        margin-top: 0;
    }

    .personagens {
        height: 170rem;
    }

    .historia  {
        flex-direction: column;
    }

    .personagens > div > a > div{
        width: 25rem;
        height: 35rem;
        margin: 2rem;
    }

    .making-off {
        height: 100rem;
    }

    .making-off > div:nth-child(2) {
        max-width: 300px;
    }

    .making-off > div:nth-child(2) > img {
        width: 15rem;
        height: 15rem;
    }

    .play-now {
        height: 40rem;
    }

}

@media(max-width: 504px) {
    .historia {
        height: 110rem;
    }

    .making-off {
        height: 113rem;
    }

    .play-now {
        height: 50rem;
    }
}

@media(max-width: 392px) {
    .historia {
        height: 110rem;
    }

    .making-off {
        height: 110rem;
    }

    main {
        margin-inline: 0 ;
        width: auto;
    
    }

    

}