<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Grid Suite" parallel="tests" thread-count="3">

    <test name="Chrome Tests" parallel="methods" thread-count="3">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="br.com.dbccompany.test.ContactTest"/>
            <class name="br.com.dbccompany.test.HomeTest"/>
            <class name="br.com.dbccompany.test.LoginTest"/>
            <class name="br.com.dbccompany.test.RegisterTest"/>
        </classes>
    </test>

    <test name="Firefox Tests" parallel="methods" thread-count="3">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="br.com.dbccompany.test.ContactTest"/>
            <class name="br.com.dbccompany.test.HomeTest"/>
            <class name="br.com.dbccompany.test.LoginTest"/>
            <class name="br.com.dbccompany.test.RegisterTest"/>
        </classes>
    </test>

    <test name="MS Edge Tests" parallel="methods" thread-count="3">
        <parameter name="browser" value="MicrosoftEdge"/>
        <classes>
            <class name="br.com.dbccompany.test.ContactTest"/>
            <class name="br.com.dbccompany.test.HomeTest"/>
            <class name="br.com.dbccompany.test.LoginTest"/>
            <class name="br.com.dbccompany.test.RegisterTest"/>
        </classes>
    </test>

</suite>