.log {
    background-color: var(--primary-black);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.log-row {
    width: 90%;
    border: 1px solid var(--primary-gray);
    color: var(--primary-gray);
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
    padding-block: 1rem;
}

.log-row p {
    padding: 0;
    margin: 0;
}

@media (max-width:768px) {
    .log-row {
        flex-direction: column;
    }
}